@media screen and (min-width: 500px){

    header{
        display: flex;
        justify-content: center;
     
        /* padding: 10px; */
    }
   


    .hero img{
        width:97.5%;
        height:10%;
      
    }


    

    h1{
        grid-column: 1/3;
        font-size: 20px;
        padding: 10px;
        text-align:center;
        
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;  
        padding: 10px;
        margin: 15px;
    }

    nav a{
        font-size: 15px;
       }

    .image_grid img{
        width: 100%;
    }   
    
    .leadership_img{
        justify-content: center;
    }

    main h2{
        font-size: 25px; 
        margin-top: 40px;
    }

    .image_grid main{
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-right: 15px;
    }
    p{
        font-size: 20px;
        text-align: center;
    }

    .heading{

    }

    
   /* .left-align{
    /* display: flex; */
    /* font-size: 30px;
    justify-content: left;
  
   } */ 

   #mybutton{
    display: none;
  
   }

   .event-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    padding: 30px;
    margin: 20px;
}

.training{
    margin: 10px;
    padding: 10px;
    width: 80%;
}
 
/* .align{
    display: grid;
   grid-template-columns: 30% 80%;
} */

.headings{
    display: grid;
    grid-template-columns: 50% 50%;
}


/* Discover page */
.grid{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
} 
 
.left{
align-content:center;

}
.left_side{
    text-align: left;
}
div picture{
    width: 100%;
    animation: fade 115s;
    padding: 15px;
    
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    10%{
      opacity: 1;  
    }
}
main.spread{
    display: grid;
    grid-template-columns: 0.5fr 1fr;

}

.sidebar{
    margin-left:15px ;
}

.top{
    margin-top: 80px;
}

}
