@media screen and (min-width: 500px){

    header{
        display: flex;
        justify-content: center;
        /* padding: 10px; */
    }
    span{
        padding: 20px;
        font-size: 40px;
    }
    img{
        width: 100px;
    }


    main{
        grid-template-columns: 70% 30%;
        column-gap:1em ;
    }

    h1{
        grid-column: 1/3;
        font-size: 35px;
        padding: 10px;
        text-align:left;
        
    }

    nav{
        flex-direction: row;
        justify-content: space-around;  
    }

    nav a{
        font-size: 30px;
       }
    

    main h2{
        font-size: 30px;
        
    }

    ul{
        padding: 20px;
        font-size: 30px;
    }

    main li{
        padding: 5px;
    }

    .card{
        border: 1px solid gray;
        margin: 60px;  
        box-shadow: 4px 4px 50px 4px gray; 
    }

   
   footer{
    /* display: flex; */
    font-size: 30px;
    justify-content: center;
  
   }




}


    