@media screen and (min-width: 500px) {
  header {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
  }
  span {
    padding: 20px;
    font-size: 40px;
  }
  img {
    width: 100px;
  }

  main {
    grid-template-columns: 70% 30%;
    column-gap: 1em;
  }

  h1 {
    grid-column: 1/3;
    font-size: 35px;
    padding: 10px;
    text-align: left;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  nav a {
    font-size: 30px;
  }

  main h2 {
    font-size: 30px;
  }

  main li {
    padding: 5px;
  }

  .card {
    border: 1px solid gray;
    margin: 60px;
    box-shadow: 4px 4px 50px 4px gray;
  }

  .padding {
    margin: 5px;
  }

 

  .color {
    color: #000000;
  }

  .hero img {
    width: 100%;
    height: auto;
  }

  footer {
    /* display: flex; */
    font-size: 30px;
    justify-content: center;
  }

  #mybutton {
    display: none;
  }

  .map-container{
    /* margin-left: 60px;
    padding-right: 100px; */
    margin-bottom: 40px;
  }

  #mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 20px;
  }
  
  
}
